<div class="content">
    <h2>Need help with any of these?</h2>
</div>
<div class="body">
    <div class="detail">
        <app-content-detail></app-content-detail>
    </div>
    <div class="detail">
        <app-content-detail></app-content-detail>
    </div>
    <div class="detail">
        <app-content-detail></app-content-detail>
    </div>
    <div class="detail">
        <app-content-detail></app-content-detail>
    </div>
    <div class="detail">
        <app-content-detail></app-content-detail>
    </div>
</div>